@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F8FAFB;
    font-family: 'Archivo', sans-serif;
}

.text-glow:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
/* 
.font-altivo{
    font-family: 'Altivo', sans-serif;
}
.font-archivo{
    font-family: 'Archivo', sans-serif;
} */
